.container_recent {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 20px;
  padding-inline: 30px;
  flex-wrap: wrap;
  background-color: #f9f9fb;
}

.recent_card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
}

.recent_card p,
.recent_card_3 p {
  color: white;
  font-size: 1.3rem;
}

.recent_card_3 {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 420px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
}

.content_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
