.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 50px;
  height: 80px;
  text-align: center;
  border-bottom: 3px solid #f9f9fb;
}

.nav_header {
  display: flex;
  gap: 30px;
}

.nav_header form input {
  height: 30px;
  padding-inline: 5px;
}
.nav_header form button {
  height: 30px;
  padding-inline: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav_header {
    display: none;
  }
}
