.container_header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 65px;
  position: fixed;
  border-bottom: 1px solid #ddd;
}

.nav_header {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav_header form input {
  height: 30px;
  padding-inline: 5px;
}
.nav_header form button {
  height: 30px;
  padding-inline: 5px;
  cursor: pointer;
}

.user_config {
  cursor: pointer;
  transition: 1s;
}

.user_config:hover {
  transform: scale(1.1);
}

.link_login {
  text-decoration: none;
}

.container_search {
  display: flex;
  align-items: center;
}

.container_container_header {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 350px) {
  .subscribe {
    display: none;
  }
}
